<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<div class="d-flex justify-content-center py-3" th:fragment="admin-menu">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="#" th:href="@{/admin}" class="nav-link"
               th:classappend=" ${#httpServletRequest.requestURI} == '/admin' ? 'active' : ''">
            Admin page</a>
        </li>
        <li class="nav-item">
            <a href="#" th:href="@{/admin/users}" class="nav-link"
               th:classappend=" ${#httpServletRequest.requestURI} == '/admin/users' ? 'active' : ''">
            Users</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"
               th:classappend=" ${#httpServletRequest.requestURI} == '/admin/sessions' ? 'active' : ''">
            Sessions</a>
        </li>
        <li class="nav-item">
            <a href="#" th:href="@{/h2-console}" class="nav-link">H2 Console</a>
        </li>
    </ul>
</div>
