--
-- PostgreSQL database dump
--

-- Dumped from database version 12.2
-- Dumped by pg_dump version 12.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.products_categories DROP CONSTRAINT fktj1vdea8qwerbjqie4xldl1el;
ALTER TABLE ONLY public.users_roles DROP CONSTRAINT fkj6m8fwv7oqv74fcehir1a9ffy;
ALTER TABLE ONLY public.products_categories DROP CONSTRAINT fkcxqsjkrs50mqpkhf63vidleed;
ALTER TABLE ONLY public.cart_positions DROP CONSTRAINT fk7qd5ys1p29ikxlduajoiro3it;
ALTER TABLE ONLY public.cart_positions DROP CONSTRAINT fk6pkxerun2c9dxjpp1scjpsyjy;
ALTER TABLE ONLY public.users_roles DROP CONSTRAINT fk2o0jvgh89lemvvo17cbqvdxaa;
ALTER TABLE ONLY public.carts DROP CONSTRAINT carts_fk;
ALTER TABLE ONLY public.users_roles DROP CONSTRAINT users_roles_pkey;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_pkey;
ALTER TABLE ONLY public.roles DROP CONSTRAINT roles_pkey;
ALTER TABLE ONLY public.products DROP CONSTRAINT products_pkey;
ALTER TABLE ONLY public.products_categories DROP CONSTRAINT products_categories_pkey;
ALTER TABLE ONLY public.category DROP CONSTRAINT category_pkey;
ALTER TABLE ONLY public.carts DROP CONSTRAINT carts_pkey;
ALTER TABLE ONLY public.cart_positions DROP CONSTRAINT cart_positions_pkey;
DROP TABLE public.users_roles;
DROP TABLE public.users;
DROP TABLE public.roles;
DROP TABLE public.products_categories;
DROP TABLE public.products;
DROP SEQUENCE public.hibernate_sequence;
DROP TABLE public.category;
DROP TABLE public.carts;
DROP TABLE public.cart_positions;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cart_positions; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.cart_positions (
    id bigint NOT NULL,
    quantity integer,
    cart_id bigint,
    product_id bigint
);


ALTER TABLE public.cart_positions OWNER TO root;

--
-- Name: cart_positions_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.cart_positions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_positions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: carts; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.carts (
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.carts OWNER TO root;

--
-- Name: carts_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.carts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.carts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: category; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.category (
    id bigint NOT NULL,
    title character varying(255)
);


ALTER TABLE public.category OWNER TO root;

--
-- Name: hibernate_sequence; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.hibernate_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.hibernate_sequence OWNER TO root;

--
-- Name: products; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    is_deleted boolean,
    price numeric(19,2),
    title character varying(255)
);


ALTER TABLE public.products OWNER TO root;

--
-- Name: products_categories; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.products_categories (
    product_id bigint NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.products_categories OWNER TO root;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    role_type character varying(255)
);


ALTER TABLE public.roles OWNER TO root;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255),
    first_name character varying(255),
    is_active boolean,
    last_name character varying(255),
    password character varying(255)
);


ALTER TABLE public.users OWNER TO root;

--
-- Name: users_roles; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.users_roles (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.users_roles OWNER TO root;

--
-- Data for Name: cart_positions; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.cart_positions (id, quantity, cart_id, product_id) FROM stdin;
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.carts (id, user_id) FROM stdin;
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.category (id, title) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.products (id, is_deleted, price, title) FROM stdin;
\.


--
-- Data for Name: products_categories; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.products_categories (product_id, category_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.roles (id, role_type) FROM stdin;
1	ROLE_ADMIN
2	ROLE_CUSTOMER
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.users (id, email, first_name, is_active, last_name, password) FROM stdin;
1	admin@admin.ru	John	t	Smith	$2a$10$nCkaGVG99b4j1UFd9J6k3eXBP0ZnylYC05jYBNudq7EexXO3xjphu
\.


--
-- Data for Name: users_roles; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.users_roles (user_id, role_id) FROM stdin;
1	1
1	2
\.


--
-- Name: cart_positions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.cart_positions_id_seq', 1, false);


--
-- Name: carts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.carts_id_seq', 1, false);


--
-- Name: hibernate_sequence; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.hibernate_sequence', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: cart_positions cart_positions_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.cart_positions
    ADD CONSTRAINT cart_positions_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: products_categories products_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.products_categories
    ADD CONSTRAINT products_categories_pkey PRIMARY KEY (product_id, category_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_roles users_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT users_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: carts carts_fk; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users_roles fk2o0jvgh89lemvvo17cbqvdxaa; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fk2o0jvgh89lemvvo17cbqvdxaa FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: cart_positions fk6pkxerun2c9dxjpp1scjpsyjy; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.cart_positions
    ADD CONSTRAINT fk6pkxerun2c9dxjpp1scjpsyjy FOREIGN KEY (cart_id) REFERENCES public.carts(id);


--
-- Name: cart_positions fk7qd5ys1p29ikxlduajoiro3it; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.cart_positions
    ADD CONSTRAINT fk7qd5ys1p29ikxlduajoiro3it FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: products_categories fkcxqsjkrs50mqpkhf63vidleed; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.products_categories
    ADD CONSTRAINT fkcxqsjkrs50mqpkhf63vidleed FOREIGN KEY (category_id) REFERENCES public.roles(id);


--
-- Name: users_roles fkj6m8fwv7oqv74fcehir1a9ffy; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT fkj6m8fwv7oqv74fcehir1a9ffy FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: products_categories fktj1vdea8qwerbjqie4xldl1el; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.products_categories
    ADD CONSTRAINT fktj1vdea8qwerbjqie4xldl1el FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- PostgreSQL database dump complete
--

