<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<!--<div th:if="${error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<form th:action="@{/auth/login}" method="post" id="loginForm">
    <div><label> User Name : <input type="text" name="username" id="username"/> </label></div>
    <div><label> Password: <input type="password" name="password" id="password"/> </label></div>
    <div><input type="submit" value="Login"/></div>
<!--    <input type="hidden" name="_csrf" value="${_csrf.token}" />-->
</form>
</body>
</html>